<h1>Listing samples</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Kind</th>
      <th>Measure</th>
      <th>Units</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= sample.userid %></td>
        <td><%= sample.kind %></td>
        <td><%= sample.measure %></td>
        <td><%= sample.units %></td>
        <td><%= sample.value %></td>
        <td><%= link_to 'Show', sample %></td>
        <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
        <td><%= link_to 'Destroy', sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample', new_sample_path %>
