<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @sample.userid %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @sample.kind %>
</p>

<p>
  <strong>Measure:</strong>
  <%= @sample.measure %>
</p>

<p>
  <strong>Units:</strong>
  <%= @sample.units %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sample.value %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
