<p id="notice"><%= notice %></p>

<p>
  <strong>Measure:</strong>
  <%= @result.measure %>
</p>

<p>
  <strong>Meausre:</strong>
  <%= @result.meausre %>
</p>

<p>
  <strong>Units:</strong>
  <%= @result.units %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
